{%extends 'base.html'%}
{%block title%}Signup{%endblock%}
{%block content%}

<div class="container mt-3 ">

    <div class="col-lg-5 col-md-8 mx-auto  p-5 ui segment">
        <h1>Signup</h1>
        <hr>
        <div class="ui warning message" id="message" {%if not error %}hidden="true"{%endif%}>
            {{error}}
        </div>
        <form class="ui form" onsubmit="validate(event)" action="/signup/" method="POST">
            {%csrf_token%}
        <div class="field">
            <label>Name</label>
            <input type="text"  name="name" placeholder="">
        </div>
        <div class="field">
            <label>Phone</label>
            <input type="text" name="phone" placeholder="91*********">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text"  name="email" placeholder="example@gmail.com">
        </div>
         <div class="field">
            <label>Password</label>
            <input type="text"  name="password" placeholder="********">
        </div>
         <div class="field">
            <label>Re-enter Password</label>
            <input type="text"  name="re_password" placeholder="********">
        </div>

        <button class="ui button teal btn-block" type="submit">Submit</button>
    </form>
    </div>
</div>
{%load static%}
<script src="{%static 'shop/js/signup.js'%}"></script>
{%endblock%}